@import "../../var";

.btn {
  &List {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &Item+&Item {
    margin-left: 15px;
  }
}

.days {
  &List {
    list-style: none;
  }

  &Item {
    margin-top: 15px;
    border: 1px solid $white;
    border-radius: 8px;

    &Header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $white;
      font-size: 18px;
      font-weight: 700;
    }
  }

  &Btns {
    display: flex;
    align-items: center;
  }

  &Link {
    margin-right: 30px;
  }
}

.time {
  &List {
    list-style: none;

    .timeItem+.timeItem {
      margin-top: 10px;
    }
  }

  &Item {
    &Title {
      font-size: 16px;
      font-weight: 700;
      color: $white;
    }
  }
}

.form {
  &Title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-bottom: 25px;
  }

  &Btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}