@import "../../var";

.plusBtn {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: 2px solid $white;
  background-color: $white20;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  animation: btn 2s linear infinite;

  &Wrapper {
    position: fixed;
    bottom: 25px;
    left: calc(50% - 100px);
  }
}

@keyframes btn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.form {
  &Title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-bottom: 25px;
  }

  &Btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &TitleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .formTitle {
      margin: 0;
    }
  }
}

.time {
  &Title {
    color: $white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
  }
  &List {
    list-style: none;
  }

  &Item {
    margin-top: 15px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 8px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white20;

    &.close {
      opacity: 0.5;
      pointer-events: none;
    }

    &.reserved {
      opacity: 0.5;
      pointer-events: none;
    }

    &.userReserve {
      opacity: 1;
    }

    &Time {
      font-size: 20px;
      font-weight: 700;
      color: $white;
    }

    &Status {
      color: $white;
    }
  }
}

.btn {
  &List {
    list-style: none;
    display: flex;
    align-items: center;

    &Item + &Item {
      margin-left: 20px;
    }
  }

  &Wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.info {
  &List {
    list-style: none;
  }

  &Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &Title {
    text-transform: uppercase;
  }

  &Comment {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
  }
}

.service {
  &Item {
    width: 100%;
  }
  &List {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
  }
}

.price {
  &List {
    list-style: none;
  }

  &Item {
    width: 100%;
    border: 1px solid $black50;
    border-radius: 8px;
    color: $black;
    position: relative;
    box-shadow: 0 0 10px $black50;
    margin-top: 15px;
  }

  &Header {
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $black50;
  }

  &Title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &Count {
    font-family: "Teko";
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid $black50;
  }

  &Value {
    font-size: 10px;
    transform: translateY(5px);
  }
}

.service {
  margin-bottom: 25px;
  &List {
    list-style: decimal;
    padding: 10px 10px 10px 30px;
  }

  &Item {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: $black80;
  }
}
